# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
[Bb]in
[Dd]ebug*/
*.lib
[Rr]elease*/
*.layout
caller_client/caller_client.bmarks
*.bmarks
*.depend
caller_server/caller_server.cscope_file_list
*.i
